<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>Weather Service</title>
    </head>
    <body>
        <div class="container">

            <div class="form-group">
                <form action="/weather" method="GET">
                    <h2 class="text-center">Enter a Location</h2>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-sm-4 col-sm-offset-4">
                                <input type="text" class="form-control input-lg" name="name" value="" placeholder="Enter your zip code or city name" />
                                <br />
                                <input type="submit" class="btn btn-lg btn-success" name="submit" value="Get Forecast" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
             <table>
                 <ul class="list-group">
                    <li class="list-group-item" th:text="'Weather in ' + ${name} + '!'" ></li>
                    <li class="list-group-item" th:text="'Description : ' + ${description} " ></li>
                    <li class="list-group-item" th:text="'Current tempurature is ' + ${currentTemp}"></li>
                    <li class="list-group-item" th:text="'High ' + ${high}" ></li>
                    <li class="list-group-item" th:text="'low ' + ${low} " ></li>
                    <li class="list-group-item" th:text="'sunset ' + ${sunset} " ></li>
                </ul>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    <div class="text-center">
                        <h3>Sign up to receive daily weather alerts</h3>
                    </div>
                    <form action="/subscribe" method="GET">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter your email address" />
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter your name" />
                                <small id="nameHelp" class="form-text text-muted">We use this to personalize your alerts.</small>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" />
                                    I agree to receive an email once per day with weather notifications.
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </body>
</html>